body {
  font-family: Arial;
}

table {
  width: 50%;
}

thead {
  background: lightgrey;
}

th {
  font-weight: normal;
}

thead tr:hover {
  background: lightgrey;
  /* to disable tr:hover rule for head */
}

tr:hover {
  background-color: rgb(230, 230, 230);
}

caption {
  font-weight: bold;
}

.colButtonDone {
  text-align: center;
}

.colButtonDelete {
  text-align: end;
}

#buttonCreate {
  background: rgb(211, 248, 211);
  border-width: .5px;
}
